<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Profile | BloggyStories </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content="BloggyStories" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/IMAGES/logo.svg">
    <link
        href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
        rel="stylesheet" />

    <!-- preloader css -->
    <link rel="stylesheet" href="/assets/css/preloader.min.css" type="text/css">

    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

</head>

<body data-layout-mode="dark" data-topbar="dark" data-sidebar="dark" data-sidebar-size="lg">

    <!-- <body data-layout="horizontal"> -->

    <!-- Begin page -->
    <div id="layout-wrapper">


        <<%- include('includes/header.ejs') %>

            <!-- ========== Left Sidebar Start ========== -->
            <%- include('includes/'+ nav +'.ejs') %>

                <!-- Left Sidebar End -->



                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="main-content">

                    <div class="page-content">
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                        <h4 class="mb-sm-0 font-size-18">Profile</h4>

                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">

                                                <li class="breadcrumb-item active">Profile</li>
                                            </ol>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->

                            <div class="row">
                                <div class="col-xl-9 col-lg-8">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-sm order-2 order-sm-1">
                                                    <div class="d-flex align-items-start mt-3 mt-sm-0">
                                                        <div class="flex-shrink-0">
                                                            <div class="avatar-xl me-3">
                                                                <img src="<%- users.profile_image %>" alt=""
                                                                    class="img-fluid rounded-circle d-block">
                                                            </div>
                                                        </div>
                                                        <div class="flex-grow-1">
                                                            <div>
                                                                <h5 class="font-size-16 mb-1"><%- users.name %></h5>
                                                                <p class="text-muted font-size-13"><%- users.user_name
                                                                        %>
                                                                </p>

                                                                <div
                                                                    class="d-flex flex-wrap align-items-start gap-2 gap-lg-3 text-muted font-size-13 ">
                                                                    <div class="text-capitalize"><i
                                                                            class="mdi mdi-circle-medium me-1 text-success align-middle "></i><%-
                                                                            users.membership %>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-sm-auto order-1 order-sm-2">
                                                    <div class="d-flex align-items-start justify-content-end gap-2">
                                                        <div>
                                                            <div class="dropdown">
                                                                <button
                                                                    class="btn btn-link font-size-16 shadow-none text-muted dropdown-toggle"
                                                                    type="button" data-bs-toggle="dropdown"
                                                                    aria-expanded="false">
                                                                    <i class="bx bx-dots-horizontal-rounded"></i>
                                                                </button>
                                                                <ul class="dropdown-menu dropdown-menu-end">
                                                                    <li><a class="dropdown-item" href="#"
                                                                            id="edpAdmin">Edit
                                                                            Details</a></li>
                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                            <ul class="nav nav-tabs-custom card-header-tabs border-top mt-4"
                                                id="pills-tab" role="tablist">
                                                <li class="nav-item">
                                                    <a class="nav-link px-3 active" data-bs-toggle="tab"
                                                        href="#overview" role="tab">Overview</a>
                                                </li>


                                            </ul>
                                        </div>
                                        <!-- end card body -->
                                    </div>
                                    <!-- end card -->

                                    <div class="tab-content">
                                        <div class="tab-pane active" id="overview" role="tabpanel">
                                            <div class="card">
                                                <div class="card-header">
                                                    <h5 class="card-title mb-0">About</h5>
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <div class="pb-3">
                                                            <div class="row">
                                                                <div class="col-xl-2">
                                                                    <div>
                                                                        <h5 class="font-size-15">Bio :</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl">
                                                                    <div class="text-muted">
                                                                        <p class="mb-2"><%- users.bio %></p>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="pb-3">
                                                            <div class="row">
                                                                <div class="col-xl-2">
                                                                    <div>
                                                                        <h5 class="font-size-15">Contact :</h5>
                                                                    </div>
                                                                </div>
                                                                <div class="col-xl">
                                                                    <div class="text-muted">
                                                                        <div>
                                                                            <%- users.email %>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <!-- end card body -->
                                            </div>
                                            <!-- end card -->

                                            <div class="card">
                                                <div class="card-header">
                                                    <div class="d-flex">
                                                        <div class="flex-grow-1">
                                                            <h5 class="card-title mb-0">Post</h5>
                                                        </div>
                                                        <div class="flex-shrink-0">
                                                            <a href="/">View All</a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="card-body">
                                                    <div>
                                                        <div class="row">
                                                            <% blogs.forEach( blog=>{ %>
                                                                <div class="col-xl-4 align-self-md-start mb-2">
                                                                    <div class="card p-1 mb-xl-0">
                                                                        <div class="p-3">
                                                                            <div class="d-flex align-items-start">
                                                                                <div
                                                                                    class="flex-grow-1 overflow-hidden">
                                                                                    <h5
                                                                                        class="font-size-15 text-truncate">
                                                                                        <a href="/posts/<%- blog.slug_id  %>"
                                                                                            class="text-dark"><%-
                                                                                                blog.title %></a>
                                                                                    </h5>
                                                                                    <p
                                                                                        class="font-size-13 text-muted mb-0">
                                                                                        <%- blog.date %>
                                                                                    </p>
                                                                                </div>
                                                                            </div>
                                                                        </div>

                                                                        <div class="position-relative">
                                                                            <img src="<%- blog.image  %>"
                                                                                style="aspect-ratio:16/10; object-fit:cover;"
                                                                                alt="<%- blog.title  %>"
                                                                                class="img-thumbnail">
                                                                        </div>

                                                                        <div class="p-3">
                                                                            <ul class="list-inline">
                                                                                <li class="list-inline-item me-3">
                                                                                    <a href="javascript: void(0);"
                                                                                        class="text-muted">
                                                                                        <i
                                                                                            class="bx bx-bullseye align-middle text-muted me-1"></i>
                                                                                        <%- blog.count %> Views
                                                                                    </a>
                                                                                </li>
                                                                            </ul>
                                                                            <p class="text-muted text-truncate"><%-
                                                                                    blog.desc %></p>

                                                                            <div>
                                                                                <a href="/posts/<%- blog.slug_id  %>"
                                                                                    class="text-primary">Read more <i
                                                                                        class="mdi mdi-arrow-right"></i></a>
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <% }) %>
                                                        </div>
                                                        <!-- end row -->
                                                    </div>
                                                </div>
                                                <!-- end card body -->
                                            </div>
                                            <!-- end card -->
                                        </div>
                                        <!-- end tab pane -->
                                    </div>
                                    <!-- end tab content -->
                                </div>
                                <!-- end col -->

                                <div class="col-xl-3 col-lg-4">
                                    <div class="card">
                                        <div
                                            class="rounded-1 card-group d-flex flex-column justify-content-center p-3 align-items-center">
                                            <div class="mb-3">
                                                <i data-feather="user"></i>
                                            </div>
                                            <p class="fs-5">Premium User</h3>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                                <!-- end col -->
                            </div>
                            <!-- end row -->

                        </div> <!-- container-fluid -->
                    </div>
                    <!-- End Page-content -->

                </div>
                <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->

    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>


    <script src="/assets/js/app.js"></script>
    <script src="/JS/sweetalert.min.js"></script>
    <script src="/JS/form.js"></script>
    <script src="/JS/functions.js"></script>
    <script src="/JS/api.js"></script>
    <script>
        feather.replace()
    </script>

</body>

</html>