<!doctype html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <title>Dashboard | BloggyStories </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta content="BloggyStories" name="author">
    <!-- App favicon -->
    <link rel="shortcut icon" href="/IMAGES/logo.svg">
    <link
        href="https://fonts.googleapis.com/css?family=Work+Sans:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic"
        rel="stylesheet" />

    <!-- plugin css -->
    

    <!-- preloader css -->
    <link rel="stylesheet" href="/assets/css/preloader.min.css" type="text/css">

    <!-- Bootstrap Css -->
    <link href="/assets/css/bootstrap.min.css" id="bootstrap-style" rel="stylesheet" type="text/css">
    <!-- Icons Css -->
    <link href="/assets/css/icons.min.css" rel="stylesheet" type="text/css">
    <!-- App Css-->
    <link href="/assets/css/app.min.css" id="app-style" rel="stylesheet" type="text/css">

</head>

<body data-layout-mode="<%- clMode %>" data-topbar="<%- clMode %>" data-sidebar="<%- clMode %>" data-sidebar-size="lg">


    <!-- Begin page -->
    <div id="layout-wrapper">


        <%- include('includes/header.ejs') %>

            <!-- ========== Left Sidebar Start ========== -->
            <%- include('includes/'+ nav +'.ejs') %>
                <!-- Left Sidebar End -->



                <!-- ============================================================== -->
                <!-- Start right Content here -->
                <!-- ============================================================== -->
                <div class="main-content">

                    <div class="page-content">
                        <div class="container-fluid">

                            <!-- start page title -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                                        <h4 class="mb-sm-0 font-size-18">Dashboard</h4>

                                        <div class="page-title-right">
                                            <ol class="breadcrumb m-0">
                                                <li class="breadcrumb-item"><a href="javascript: void(0);">Dashboard</a>
                                                </li>
                                                <li class="breadcrumb-item active">Dashboard</li>
                                            </ol>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            <!-- end page title -->

                            <div class="row">
                                <div class="col-xl-3 col-md-6">
                                    <!-- card -->
                                    <div class="card card-h-100">
                                        <!-- card body -->
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <span class="text-muted mb-3 lh-1 d-block text-truncate">
                                                        Impressions</span>
                                                    <h4 class="mb-3">
                                                        <span id="impression">
                                                            <img src="/IMAGES/loader.gif" width="40px">
                                                        </span>
                                                    </h4>
                                                </div>

                                                <!-- <div class="col-6">
                                                <div id="mini-chart1" data-colors='["#5156be"]' class="apex-charts mb-2"></div>
                                            </div> -->
                                            </div>
                                            <div class="text-nowrap">
                                                <span class="badge bg-soft-success text-success">100%</span>
                                                <span class="ms-1 text-muted font-size-13">Since last week</span>
                                            </div>
                                        </div><!-- end card body -->
                                    </div><!-- end card -->
                                </div><!-- end col -->

                                <div class="col-xl-3 col-md-6">
                                    <!-- card -->
                                    <div class="card card-h-100">
                                        <!-- card body -->
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <span class="text-muted mb-3 lh-1 d-block text-truncate">Total
                                                        Views</span>
                                                    <h4 class="mb-3">
                                                        <span id="views">
                                                            <img src="/IMAGES/loader.gif" width="40px">
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-6">
                                                    <div id="mini-chart2" data-colors='["#5156be"]'
                                                        class="apex-charts mb-2">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="text-nowrap">

                                            </div>
                                        </div><!-- end card body -->
                                    </div><!-- end card -->
                                </div><!-- end col-->

                                <div class="col-xl-3 col-md-6">
                                    <!-- card -->
                                    <div class="card card-h-100">
                                        <!-- card body -->
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <span class="text-muted mb-3 lh-1 d-block text-truncate">Published
                                                        Posts</span>
                                                    <h4 class="mb-3">
                                                        <span id="posts">
                                                            <img src="/IMAGES/loader.gif" width="40px">
                                                        </span>
                                                    </h4>
                                                </div>
                                                <div class="col-6">
                                                    <div id="mini-chart3" data-colors='["#5156be"]'
                                                        class="apex-charts mb-2">
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card body -->
                                    </div><!-- end card -->
                                </div><!-- end col -->

                                <div class="col-xl-3 col-md-6">
                                    <!-- card -->
                                    <div class="card card-h-100">
                                        <!-- card body -->
                                        <div class="card-body">
                                            <div class="row align-items-center">
                                                <div class="col-6">
                                                    <span class="text-muted mb-3 lh-1 d-block">Most Single
                                                        Views</span>
                                                    <h4 class="mb-3">
                                                        <span id="single" class="single-post">
                                                            <img src="/IMAGES/loader.gif" width="40px">
                                                        </span>
                                                    </h4>
                                                </div>
                                            </div>
                                        </div><!-- end card body -->
                                    </div><!-- end card -->
                                </div><!-- end col -->
                            </div><!-- end row-->

                            <div class="row">
                                <div class="col-xl-5">
                                    <!-- card -->
                                    <div class="card card-h-100">
                                        <!-- card body -->
                                        <div class="card-body">
                                            <div class="d-flex flex-wrap align-items-center mb-4">
                                                <h5 class="card-title me-2">My Articles</h5>
                                            </div>

                                            <div class="row align-items-center">
                                                <div class="col-sm" id="single" class="single-post">
                                                    <span id="article">
                                                        <img src="/IMAGES/loader.gif" width="40px">
                                                    </span>

                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>

                                <div class="col-xl-7">
                                    <!-- card -->
                                    <div class="card card-h-100">
                                        <!-- card body -->
                                        <div class="card-body">
                                            <div class="d-flex align-items-center justify-content-between mb-4">
                                                <h5 class="card-title me-2">Message Admin</h5>
                                            </div>

                                            <form action="/<%- nav %>/sendAdminMessage" class="row" method="post">
                                                <div class="form-group">
                                                    <label for="message">Subject:</label>
                                                    <input type="text" name="subject" class="form-control" id=""
                                                        required>
                                                </div>
                                                <div class="form-group mt-3">
                                                    <label for="message">Write Your Message:</label>
                                                    <textarea maxlength="1000" name="message" class="form-control" id="" required
                                                        cols="30" rows="10"></textarea>
                                                </div>
                                                <div class="form-group mt-3">
                                                    <input type="submit" class="btn btn-primary w-100">
                                                </div>
                                            </form>

                                        </div>
                                    </div>
                                    <!-- end card -->
                                </div>
                            </div> <!-- end row-->
                        </div>
                        <!-- container-fluid -->
                    </div>
                    <!-- End Page-content -->


                    <footer class="footer">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-6">
                                    <script>document.write(new Date().getFullYear())</script> © BloggyStories.
                                </div>
                                <div class="col-sm-6">
                                    <div class="text-sm-end d-none d-sm-block">
                                        Design & Develop by <a href="/"
                                            class="text-decoration-underline">BloggyStories</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </footer>
                </div>
                <!-- end main content-->

    </div>
    <!-- END layout-wrapper -->




    <!-- Right bar overlay-->
    <div class="rightbar-overlay"></div>

    <!-- JAVASCRIPT -->
    <script src="/assets/libs/jquery/jquery.min.js"></script>
    <script src="/assets/libs/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="/assets/libs/metismenu/metisMenu.min.js"></script>
    <script src="/assets/libs/simplebar/simplebar.min.js"></script>
    <script src="/assets/libs/node-waves/waves.min.js"></script>
    <script src="/assets/libs/feather-icons/feather.min.js"></script>
    <!-- pace js -->

    
    

    <!-- Plugins js-->
    <script src="/assets/libs/admin-resources/jquery.vectormap/jquery-jvectormap-1.2.2.min.js"></script>
    <script src="/assets/libs/admin-resources/jquery.vectormap/maps/jquery-jvectormap-world-mill-en.js"></script>
    <script src="/assets/js/app.js"></script>
    <script src="/JS/sweetalert.min.js"></script>
    <script src="/JS/functions.js"></script>
    <script src="/JS/api.js"></script>

    <script>
        feather.replace()
    </script>
</body>

</html>