<div class="vertical-menu">

    <div data-simplebar="" class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title" data-key="t-menu">Menu</li>

                <li>
                    <a href="/superadmin">
                        <i data-feather="home"></i>
                        <span data-key="t-dashboard">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="book"></i>
                        <span data-key="t-apps">Blogs</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li>
                            <a href="/<%- nav  %>/blogs/new">
                                <span data-key="t-calendar">New Posts</span>
                            </a>
                        </li>

                        <li>
                            <a href="/<%- nav  %>/blogs/posts">
                                Update Posts
                            </a>
                        </li>

                        <li>
                            <a href="/<%- nav  %>/blogs/visibility">
                                <span data-key="t-email">Post visibility</span>
                            </a>
                        </li>

                            
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="file-text"></i>
                        <span data-key="t-authentication">Manage All Post</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/<%- nav %>/manage/posts" data-key="t-login">Approve Posts</a></li>
                        <li><a href="/<%- nav %>/manage/approve" data-key="t-login">Enable / Disable Posts</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="bell"></i>
                        <span data-key="t-authentication">Alerts</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/<%- nav %>/alerts" data-key="t-login">Manage Alerts</a></li>
                    </ul>
                </li>

                <li>
                    <a href="javascript: void(0);" class="has-arrow">
                        <i data-feather="users"></i>
                        <span data-key="t-pages">Manage All Users</span>
                    </a>
                    <ul class="sub-menu" aria-expanded="false">
                        <li><a href="/<%- nav  %>/users/details" data-key="t-starter-page">User Details</a></li>
                    <li><a href="/<%- nav  %>/users/audit" data-key="t-starter-page">User Visibility</a></li>

                    </ul>
                </li>

                <li>
                    <a href="/<%- nav %>/settings">
                        <i data-feather="user"></i>
                        <span data-key="t-pages">Profile</span>
                    </a>
                    
                </li>

                

            </ul>

            <div class="card sidebar-alert border-0 text-center mx-4 mb-0 mt-5">

            </div>
        </div>
        <!-- Sidebar -->
    </div>
</div>